# nRF52840 DK NRF52840 board configuration

# Copyright (c) 2016 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

if BOARD_NRF52840_SENSORTAG

config BOARD
	default "nrf52840_sensortag"

endif # BOARD_NRF52840_SENSORTAG
